<%= form_tag('/checkout', id: 'payment-form') do %>
    <div class="form-row">
      <label for="card-element">
        Credit or debit card
      </label>
      <div id="card-element">
        
      </div>
      
      <div id="card-errors" role="alert"></div>
    </div>
    <button id="submit">Submit Payment</button>
  <% end %>